@{
  Layout = "_Layout";
}

@model PierresSweetAndSavoryTreats.Models.Flavor

<div class="container">
  <h4>Add A New Sweet and Savory Flavor</h4>
  <hr />
  <br>

  <p>@Html.ValidationMessageFor(m => m.FlavorName,"", new { @class = "text-danger", @style = "font-weight: 600"})</p>
  <p>@Html.ValidationMessageFor(m => m.Ingredients,"", new {@class ="text-danger", @style = "font-weight: 600"})</p>
  <p>@Html.ValidationMessageFor(m => m.Description,"", new { @class = "text-danger", @style = "font-weight: 600"})</p>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(m => m.FlavorName, "Flavor Name: ")
    @Html.TextBoxFor(m => m.FlavorName)

    @Html.LabelFor(m => m.Ingredients, "Ingredients: ")
    @Html.TextBoxFor(m => m.Ingredients)

    @Html.LabelFor(m => m.Description, "Description: ")
    @Html.TextBoxFor(m => m.Description)

    <input type="submit" value="Add new Flavort" class="btn btn-primary" />
  }
  <hr />
  <br>
  <p>@Html.ActionLink("Manage Flavors", "Index")</p>
</div>