@{
  Layout = "_Layout";
}

<div class="container">
  <h2>Authentication</h2>
  <hr />
  <br>
  @if (User.Identity.IsAuthenticated)
  {
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="btn btn-warning" value="Log out" />
    }
  }
  else
  {
    <p>@Html.ActionLink("Register","Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
  }
  <hr />
  <br>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("Add new Treat", "Create","Treats")</p>
</div>