@{
  Layout="_Layout";
}

@using PierresSweetAndSavoryTreats.ViewModels

@model LoginViewModel

<div class="container">
  <h2>Log in with your account </h2>
  <h />
  <br>

  @if(!ViewData.ModelState.IsValid)
  {
    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
  }

  @using (Html.BeginForm())
  {
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.EditorFor(m => m.Password)

    <input type="submit" value="Log in" class="btn btn-success"/>

  }
  <hr />
  <br>
  <p>@Html.ActionLink("Register For An Account", "Register")</p>
  <p>@Html.ActionLink("Back To Account Page", "Index")</p>
</div>